<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rick and Morty API</ion-card-title>
      <ion-card-subtitle>Aplicación DEMO desarrollada en iONIC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-text-justify">
      Este es un ejemplo de una aplicación desarrollada en iONIC (Angular) donde se consume la API <a href="https://rickandmortyapi.com/api/character">Rick and Morty</a> para mostrar en un listado los personajes de la serie antes mencionada y tiene como finalidad el servir de guia para que los desarrolladores nuevos aprendan con un ejemplo sencillo.
      </div>
    </ion-card-content>
    
  </ion-card>

  <img src="assets/img/ricknmorty.png">

  <div class="ion-text-center">
    <h5>V 1.0.0</h5>
    Dev: <a href="https://www.linkedin.com/in/luciod3v/">Vicente Guzmán</a>
  </div>
  
</ion-content>
