<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rick and Morty API</ion-card-title>
      <ion-card-subtitle>Aplicación DEMO desarrollada en iONIC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este es un ejemplo de una aplicación desarrollada en iONIC (Angular) donde se consume la API rickandmortyapi.com/api/ para mostrar en un listado los personajes de la serie antes mencionada y tiene como finalidad el servir de guia para que los desarrolladores nuevos aprendan con un ejemplo sencillo.
    </ion-card-content>

    <ion-label>V 1.0.0</ion-label>
  </ion-card>
  
</ion-content>
