<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="" (click)="closeModal()"></ion-back-button>
    </ion-buttons>
    <ion-title>Rick and Morty API</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="container">
    <div class="image">
      <img [src]="character.image"  width="100%" height="350"/>
    </div>
    <div class="item-details" style="padding: 10px;">
      <p><strong>Name:</strong> {{character.name}}</p>
      <p><strong>Status:</strong> {{character.status}}</p>
      <p><strong>Specie:</strong> {{character.species}}</p>
      <p><strong>Origin:</strong> {{character.origin.name}}</p>
    </div>
  </div>
</ion-content>
 